<%- include('partials/_header') %>

  <div class="container">
    <h3>Your Unique Short URL</h3>
    <h3><a href="../u/<%= shortURL %>" target="_blank"><%= shortURL %></a></h3>
    <br>
    <br>
    <p>Re-directs to:</p>
    <h4><%= longURL %></h4>
  <form method="POST" action="../urls/<%= [key] %>/delete">
    <input type="submit" value="Delete" />
  </form>

  </div>
</body>
</html>
