<%- include('partials/_header') %>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Short Code</th>
        </tr>
      </thead>
      <tbody>
        <% for (key in urls) { %>
          <tr>
            <td><%= urls[key] %></td>
            <td><a href="/u/<%= [key] %>" target="_blank"><%= [key] %></a></td>
            <td><a href="/urls/<%= [key] %>">Edit</a></td>
            <td><a href="/urls/<%= [key] %>#stats">Stats</a></td>
            <td><a href="/urls/<%= [key] %>/delete">Delete</a></td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  </html>
